<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
  <img src="{{ '/assets/img/avatar.jpg' | relative_url }}" width="112" height="112" alt="avatar" style="border-radius: 50%;">
    </a>

    <a class="site-title d-block" href="{{ '/' | relative_url }}">Aging Health Research 2026</a>
    <p class="site-subtitle fst-italic mb-0">Independent health research and patient advocacy.</p>
  </header>

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <li class="nav-item active">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>HOME</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/categories/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-stream"></i>
          <span>CATEGORIES</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/tags/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-tags"></i>
          <span>TAGS</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/archives/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-archive"></i>
          <span>ARCHIVES</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/about/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-info-circle"></i>
          <span>ABOUT</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ '/lbd-safety-checklist/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-shield-alt"></i>
          <span>LBD SAFETY CHECKLIST</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
      <i class="fas fa-adjust"></i>
    </button>
    <span class="icon-border"></span>
    <a href="https://github.com/tomglo10" aria-label="github" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
    <a href="/feed.xml" aria-label="rss">
      <i class="fas fa-rss"></i>
    </a>
  </div>
</aside>
